html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
	background-color: #212121;
	width: 100%;
	height: 60px;
}

nav a {
	text-decoration: none;
	color: #BFBFBF;
}

.navWords {
	padding-top: 20px;
}

nav h3 {
	float: left;
	font-size: 19px;
	margin-left: 80px;
}

nav h5 {
	margin-left: 210px;
	font-size: 12px;
	padding-top: 5px;
}

.content {
	margin-left: 80px;
	margin-right: 80px;
}

h1 {
	font-size: 35px;
	color: #212121;
	margin-top: 40px;
	margin-bottom: 25px;
}

hr {
	color: #BFBFBF;
}

ul {
	margin-top: 25px;
}

li a {
	text-decoration: none;
	margin-left: 10px;
	color: #58D6FC;

}

li:before {
    content: "• ";
    color: #212121;
    margin-left: 25px;
}

p {
	margin-top: 30px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 20px;
	color: #BFBFBF;
}

/* Create Page */

form h3 {
	margin-top: 45px;
	margin-bottom: 5px;
	font-size: 19px;
}

textarea {
	width: 100%;
	border-radius: 5px;
	border: 2px solid #DBDBDB;
}

.bottomInput {
	height: 400px;
}

button {
	width: 80px;
	height: 35px;
	border-radius: 5px;
	border: none;
	background-color: #275AF2;
	color: white;
	font-size: 15px;
	margin-top: 10px;
}

.editDelete a {
	text-decoration: none;
	color: #275AF2;
}

.editDelete {
	margin-left: 80px;
}




